*~
.DS_Store

# Ignore anything associated with mongoose
mongoose.exe
mongoose.conf 

# Don't ignore directories, so we can recurse into them
!*/

# Don't ignore dummy files, which are used when laying out folders -- useful as git doesn't do empty folders.
!*.dummy
!*/*.dummy
!*.exe
!*.dll
!*.lib
!*.mp3
!*.ogg
